body {
    font-family: Helvetica;
    font-size: small;
    margin-left: 3px;
}

p {
    margin: 2px;
    padding: 0px;
}

@media print {
    @page :footer {
        display: none
    }
 
    @page :header {
        display: none
    }
}
