{% extends "base.html" %}
{% block title %}Site Info{% endblock %}



{% block content %}

<div class="container">
    <br>
    <h1>Site Info</h1>
    <p>
        This site was created as a free resource for structural engineers to calculate nonstructural seismic forces per Chapter 13 of ASCE 7-22.
        It is intended to organize and simplify the process while "showing the work" of all the intermediate calculations.
        The site may also be used as a learning tool, however all calculations and results used for actual designs need to be verified by a qualified engineer.
    </p>

    <h3>Privacy</h3>
    <p>
        The numerical inputs (Spectral Acceleration, Component Weight, etc.) are stored to better understand how the site is being used.
        However, text inputs (Title, Project, Location, etc.) are never stored to protect the anonymity of each user.
    </p>

    <h3>View Code and Collaborate</h3>
    <p>
        The code running this site is available on <a href="https://github.com/aclozovoy/FpForceCalculator">GitHub</a>.
        Please reach out if you have suggested site improvements or are interested in collaborating.
    </p>
</div>
{% endblock %}
